 <body style="background-image: url('https://img.etimg.com/thumb/msid-58341385,width-1200,height-900,resizemode-4,imgsize-763408/news/economy/policy/display-foodgrain-subsidy-at-ration-shops-centre-to-states.jpg'); ">
 <div class="user">
 {{#if errors}}
     {{#each errors}}
     <div class="w3-container w3-section w3-red">
<span onclick="this.parentElement.style.display='none'" class="w3-closebtn">&times;</span>
  {{msg}}
</div>
     {{/each}}
{{/if}}
    <header class="user__header">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
        <h3 class="user__title">Vitran</h3>
    </header>
    
    <form class="form" method="post" action="/adminlogin" >
        <div class="form__group">
            <input type="text" placeholder="Admin Id" class="form__input" name="adminid" />
        </div>

        <div class="form__group">
            <input type="password" placeholder="Password" class="form__input" name="password" />
        </div>
        <input type="submit" name="login" value="login" class="btn w3-theme-d5">
    </form>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script  src="js/index.js"></script>
</body>